name: CI/CD

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  EXECUTABLE_NAME: "mcsm"

jobs:
  extract-version:
    runs-on: ubuntu-latest
    outputs:
        version: ${{ steps.set_version.outputs.version }}

    steps:
    - uses: actions/checkout@v4

    - name: Get current version from Cargo.toml
      id: cargo_version
      run: |
        version=$(grep '^version =' Cargo.toml | sed 's/version = \"//;s/\"//')
        echo "cargo_version=$version" >> $GITHUB_OUTPUT

    - name: Get latest tag version from GitHub
      id: latest_tag
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        latest=$(gh api repos/${{ github.repository }}/tags --jq '.[0].name' || echo "0.0.0")
        # Remove leading "v" if it exists
        latest=${latest#v}
        echo "latest_tag=$latest" >> $GITHUB_OUTPUT

    - name: Determine new version
      id: set_version
      run: |
        latest="${{ steps.latest_tag.outputs.latest_tag }}"
        if [[ "$latest" == "" ]]; then
          latest="0.0.0"
        fi

        IFS='.' read -r major minor patch <<< "$latest"

        # Increment logic: bump patch until it reaches 10, then bump minor
        if [[ "$patch" -lt 9 ]]; then
          patch=$((patch + 1))
        else
          patch=0
          minor=$((minor + 1))
        fi

        new_version="$major.$minor.$patch"
        echo "version=$new_version" >> $GITHUB_OUTPUT


  build-linux-x86_64:
    runs-on: ubuntu-latest

    env:
      IDENTIFIER: "x86_64-Linux"

    steps:
    - uses: actions/checkout@v4

    - name: Run tests
      run: go test ./src

    - name: Run build
      run: go build -ldflags="-s -w" -v -o mcsm ./src

    - name: Create release artifact
      run: |
        cp ${{ env.EXECUTABLE_NAME }} ${{ env.EXECUTABLE_NAME }}-${{ env.IDENTIFIER }}

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.EXECUTABLE_NAME }}-${{ env.IDENTIFIER }}
        path: ./${{ env.EXECUTABLE_NAME }}-${{ env.IDENTIFIER }}
  
  build-linux-aarch64:
    runs-on: ubuntu-latest

    env:
      IDENTIFIER: "aarch64-Linux"
      GOARCH: arm64
  
    steps:
    - uses: actions/checkout@v4

    - name: Run tests
      run: go test ./src

    - name: Run build
      run: go build -ldflags="-s -w" -v -o mcsm ./src
    
    - name: Create release artifact
      run: |
        cp ${{ env.EXECUTABLE_NAME }} ${{ env.EXECUTABLE_NAME }}-${{ env.IDENTIFIER }}

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.EXECUTABLE_NAME }}-${{ env.IDENTIFIER }}
        path: ./${{ env.EXECUTABLE_NAME }}-${{ env.IDENTIFIER }}

  build-linux-x86_64-musl:
    runs-on: ubuntu-latest

    env:
      IDENTIFIER: "x86_64-Linux-musl"
      CGO_ENABLED: 1
      GOOS: linux
      GOARCH: amd64
      CC: musl-gcc
  
    steps:
    - uses: actions/checkout@v4

    - name: Install build tools
      run: sudo apt install musl-tools -y

    - name: Run tests
      run: go test ./src

    - name: Run build
      run: go build -ldflags="-s -w" -v -o mcsm ./src

    - name: Create release artifact
      run: |
        cp ${{ env.EXECUTABLE_NAME }} ${{ env.EXECUTABLE_NAME }}-${{ env.IDENTIFIER }}

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.EXECUTABLE_NAME }}-${{ env.IDENTIFIER }}
        path: ./${{ env.EXECUTABLE_NAME }}-${{ env.IDENTIFIER }}

  build-windows-x86_64:
    runs-on: windows-latest

    env:
      IDENTIFIER: "x86_64-Windows"
  
    steps:
    - uses: actions/checkout@v4

    - name: Run tests
      run: go test ./src

    - name: Run build
      run: go build -ldflags="-s -w" -v -o mcsm ./src
    
    - name: Create release artifact
      run: |
        cp ${{ env.EXECUTABLE_NAME }}.exe ${{ env.EXECUTABLE_NAME }}-${{ env.IDENTIFIER }}.exe

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.EXECUTABLE_NAME }}-${{ env.IDENTIFIER }}.exe
        path: ./${{ env.EXECUTABLE_NAME }}-${{ env.IDENTIFIER }}.exe

  build-windows-aarch64:
    runs-on: windows-latest

    env:
      IDENTIFIER: "aarch64-Windows"
      GOARCH: arm64
      
  
    steps:
    - uses: actions/checkout@v4

    - name: Run build
      run: go build -ldflags="-s -w" -v -o mcsm ./src
    
    - name: Create release artifact
      run: |
        cp ${{ env.EXECUTABLE_NAME }}.exe ${{ env.EXECUTABLE_NAME }}-${{ env.IDENTIFIER }}.exe

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.EXECUTABLE_NAME }}-${{ env.IDENTIFIER }}.exe
        path: ./${{ env.EXECUTABLE_NAME }}-${{ env.IDENTIFIER }}.exe

  release:
    runs-on: ubuntu-latest
    needs:
      - extract-version
      - build-linux-x86_64
      - build-linux-aarch64
      - build-linux-x86_64-musl
      - build-windows-x86_64
      - build-windows-aarch64

    env:
      EXTRACTED_VERSION: ${{ needs.extract-version.outputs.version }}
      ARTIFACTS_DIR: "downloaded-artifacts/"
      LINUX_AMD64_PATH: ""
      LINUX_AMD64_MUSL_PATH: ""
      LINUX_AARCH64_PATH: ""
      WINDOWS_AMD64_PATH: ""
      WINDOWS_AARCH64_PATH: ""
    
    steps:
    - uses: actions/checkout@v4

    - name: Set computed environment variables
      run: |
        echo "LINUX_AMD64_PATH=${EXECUTABLE_NAME}-x86_64-Linux" >> $GITHUB_ENV
        echo "LINUX_AMD64_MUSL_PATH=${EXECUTABLE_NAME}-x86_64-Linux-musl" >> $GITHUB_ENV
        echo "LINUX_AARCH64_PATH=${EXECUTABLE_NAME}-aarch64-Linux" >> $GITHUB_ENV
        echo "WINDOWS_AMD64_PATH=${EXECUTABLE_NAME}-x86_64-Windows.exe" >> $GITHUB_ENV
        echo "WINDOWS_AARCH64_PATH=${EXECUTABLE_NAME}-aarch64-Windows.exe" >> $GITHUB_ENV

    - name: Install github CLI
      run: sudo apt install gh -y
    
    - name: Download Linux x86_64 Artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.LINUX_AMD64_PATH }}
        path: ${{ env.ARTIFACTS_DIR }}

    - name: Download Linux Musl x86_64 Artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.LINUX_AMD64_MUSL_PATH }}
        path: ${{ env.ARTIFACTS_DIR }}

    - name: Download Linux aarch64 Artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.LINUX_AARCH64_PATH }}
        path: ${{ env.ARTIFACTS_DIR }}
    
    - name: Download Windows x86_64 Artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.WINDOWS_AMD64_PATH }}
        path: ${{ env.ARTIFACTS_DIR }}

    - name: Download Windows aarch64 Artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.WINDOWS_AARCH64_PATH }}
        path: ${{ env.ARTIFACTS_DIR }}
    
    - name: Create GitHub Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        # Fetch commit history since the last tag
        # RELEASE_NOTES=$(git log $(git describe --tags --abbrev=0)..HEAD --pretty=format:"- %h %s (%an)")

        # Alternative: Fetch merged PRs if using GitHub CLI
        RELEASE_NOTES=$(gh api repos/:owner/:repo/pulls --jq '.[] | select(.merged_at != null) | "- #\(.number) \(.title) (@\(.user.login))"')

        gh release create v$EXTRACTED_VERSION --generate-notes \
          ${{ env.ARTIFACTS_DIR }}${{ env.LINUX_AMD64_PATH }} \
          ${{ env.ARTIFACTS_DIR }}${{ env.LINUX_AMD64_MUSL_PATH }} \
          ${{ env.ARTIFACTS_DIR }}${{ env.LINUX_AARCH64_PATH }} \
          ${{ env.ARTIFACTS_DIR }}${{ env.WINDOWS_AMD64_PATH }} \
          ${{ env.ARTIFACTS_DIR }}${{ env.WINDOWS_AARCH64_PATH }} \
          --title "Release v$EXTRACTED_VERSION"